<!DOCTYPE html>
<html lang="en">

<head>
  {% include '/res/templates/required_files.html' %}

</head>

<body>

  {% import '/res/templates/nav.html' as nav %}
  {{nav.navbar('About')}}

  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4>How does RNAMake generate new RNA segments? </h4>
        <p class="large">RNAMake leverages an extensive motif library and pathfinding
           algorithms to automate the assembly of RNA 3D motifs in design. Specifically, RNAMake is capable of
           generating RNA segments in 3D composed of continuous chains of RNA motifs that that twist and translate
           between any two desired helical endpoints</p>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <img src="/res/images/assembly.png" width="100%"/>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <h4> What problems can RNAMake solve on this webserver? </h4>
        <p class="large">RNAMake can solve two distinct types of 3D design problems this server. First,
          generating a 3D scaffold to hold a tertiary contact or RNA segment of interest in a specific orientation.
          Design of a 3D scaffold can be done at <a href="/design_scaffold_app">here</a>. Second, RNAMake can stablize a
          small-molecule binding aptamer through generation of peripheral tertiary contacts that extend out of
          either end of an aptamer and encircle these aptamers, bracing them into their functional 3D arrangements.
          Generationg stablized aptamers can be done <a href="/apt_stablization_app">here</a>.</p>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <center><h4>Scaffold Design</h4></center>
        <img src="/res/images/scaffold.png" width="100%" />
        <center><h4>Aptamer Stablization</h4></center>
        <img src="/res/images/aptamer_stablization.png" width="100%" />
      </div>
    </div>
    <hr>
    <div class="row">
        <h4>Having issues or have questions?</h4>
        <p class="large">Feel free email Joseph Yesselman (jyesslem@stanford.edu) the main developer of RNAMake.</p>
    </div>
  </div>

  <hr>
  {% include '/res/templates/supported_by.html' %}

</body>

</html>
