<html>
<head>
{% include '/res/templates/required_files.html' %}

<!-- css and js for design_form --->
<link href="/res/css/design_form.css" rel="stylesheet">
<script src="/res/js/stablization_form.js"></script>

</head>
<body>

{% import '/res/templates/nav.html' as nav %}
{{nav.navbar('Applications')}}

<script>
{{error}}
</script>

<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-5">
      <br />
      <br />
      <h2>Atpamer Stablization with 3D Design</h2>
      <p class="lead"> RNAMake leverages an extensive motif library and pathfinding
         algorithms to automate the assembly of RNA 3D motifs in design. Specifically, RNAMake is capable of
         generating RNA segments in 3D composed of continuous chains of RNA motifs that that twist and translate
         between any two desired helical endpoints.</p>
        <button type="submit" class="btn btn-primary "> Instructions for Submission </button>
        <button type="submit" class="btn btn-primary "> Submit </button>
     </div>
     <div class="col-lg-7">
       <img src="/res/images/aptamer_stablization.png" width="100%">
     </div>
  </div>

  <br />
  <hr/ >

  <div class="row">
    <div class="col-lg-5">
      <h2>What to submit?</h2>
      <p class="lead">Fulfilled direction use continual set him propriety continued. Saw met applauded favourite
        deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage
         comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly.
      </p>
    </div>
    <div class="col-lg-7">
      <br />
      <img src="/res/images/scaffold_start_labeled.png" width="100%">
    </div>

  </div>
  <br />
  <hr/ >

  <div class="row">
    <br />
    <div class="col-lg-6">
      {% include '/res/templates/stablization_form.html' %}
    </div>
  </div>
</div>
<hr>
{% include '/res/templates/supported_by.html' %}

</body>
</html>
