<html>
<head>
{% include '/res/templates/required_files.html' %}

<!-- css and js for design_form --->
<link href="/res/css/design_form.css" rel="stylesheet">
<script src="/res/js/design_form.js"></script>

</head>
<body>

{% import '/res/templates/nav.html' as nav %}
{{nav.navbar('Applications')}}

<script>
{{error}}
</script>

<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-5">
      <br />
      <br />
      <h2>Generating 3D RNA Scaffolds</h2>
      <p class="lead"> RNAMake leverages an extensive motif library and pathfinding
         algorithms to automate the assembly of RNA 3D motifs in design. Specifically, RNAMake is capable of
         generating RNA segments in 3D composed of continuous chains of RNA motifs that that twist and translate
         between any two desired helical endpoints.</p>
        <a href="#instructions"><button type="submit" class="btn btn-primary ">Instructions for Submission</button></a>
        <a href="#submit"><button type="submit" class="btn btn-primary "> Submit </button></a>
     </div>
     <div class="col-lg-7">
       <img src="/res/images/scaffold.png" width="100%">
     </div>
  </div>

  <br />
  <hr />

  <div class="row"  id="instructions">
    <div class="col-lg-5">
      <h2>What to submit?</h2>
      <p class="lead">Submission requires a PDB containing RNA that has at least 2 basepair ends. An example structure is
        shown on the right. This pdb which you can download <a href='/download?f_path=data/example_scaffold/input.pdb'>here</a>, contains 3 basepair ends. Two are labeled
        by their "name". This name tells the webserver the start and end of a submitted structure. The basepair name of the
        name of the two residues contained in it in the format chain id appended to its residue number. In the case of A141-A162
        that declares that there is a basepair between residue 141 on chain A to residue 161 also on chain A.
      </p>
    </div>
    <div class="col-lg-7">
      <br />
      <img src="/res/images/scaffold_start_labeled.png" width="100%">
    </div>

  </div>
  <br />
  <hr/ >

  <div class="row" id="submit">
    <br />
    <div class="col-lg-6">
      {% include '/res/templates/design_form.html' %}
    </div>
  </div>
</div>
<hr>
{% include '/res/templates/supported_by.html' %}

</body>
</html>
