<html>
<head>
{% include '/res/templates/required_files.html' %}

<style>
.card-img-top {
  height: 12rem;
  object-fit: cover;
}
</style>

</head>
<body>

{% import '/res/templates/nav.html' as nav %}
{{nav.navbar('Home')}}

<div class="container">
  <br />
  {% include '/res/templates/jumbotron.html' %}

  <h2>Web Applications</h2>

  <div class="row">
    <div class="card-deck">
      <div class="card border-secondary" style="width: 20rem;">
        <img class="card-img-top" src="/res/images/scaffold.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">3D RNA Scaffolding</h5>
          <p class="card-text">
            Use RNAMake to build a 3D scaffold to hold a tertiary contact or RNA segment of interest in a specific orientation. </p>
          <a href="/design_scaffold_app" class="btn btn-primary">Launch App</a>
        </div>
      </div>

      <div class="card border-secondary" style="width: 20rem;">
        <img class="card-img-top" src="/res/images/aptamer_stablization.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Aptamer Stablization</h5>
          <p class="card-text">
            Use RNAMake to build a 3D scaffold to hold a tertiary contact or RNA segment of interest in a specific orientation.</p>
          <a href="/apt_stablization_app" class="btn btn-primary">Launch App</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
  {% include '/res/templates/supported_by.html' %}
</div>

</body>
</html>
