<div class="jumbotron">
  <h1 class="display-4">RNAMake 3D Design Toolkit</h1>
  <p class="lead">RNAMake is a toolkit for designing and optimizing RNA 3D structure.
    It allows the alignment between RNA motifs. These motif are small modular peices
    of RNA that are believed to fold independently, thus attaching them together
    with helix flanking both sides allows users of RNAMake to build large segments
     of RNA with a high success rate of forming the predicted structure in vitro.
  </p>
</div>
