<link rel="shortcut icon" href="/images/EteRNA_shortcut.png">
<title>RNAMake Server</title>

<!-- Bootstrap core CSS -->
<link href="/res/css/bootstrap.min.css" rel="stylesheet">
<link href="/res/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/res/css/theme.css" rel="stylesheet">
<!-- Jquery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/res/js/bootstrap.bundle.min.js"></script>
