<a href="#" id="up"><img style="position:fixed;display:block;right:5%;bottom:5%;opacity:0.85;" src="/res/images/fg_top.png" height="60px" width="60px"/></a>
<div class="container">
  <table>
    <tr>
      <td>
        <p id="credits">Maintained by:&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </td>
      <td>
        <a href="http://daslab.stanford.edu" target="_blank" data-toggle="tooltip" data-placement="top" title="Das Lab"><img src="/res/images/logo_das.jpg" height="70" style=""></a>
      </td>
      <td>
        <a href="http://med.stanford.edu" target="_blank" data-toggle="tooltip" data-placement="top" title="Stanford University"><img src="/res/images/logo_stanford.png" height="70" style=""></a>
      </td>
      <br><br>
</div>
